@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --orange: hsl(26, 100%, 55%);
  --pale-orange: hsl(25, 100%, 94%);
  --very-dark-blue: hsl(220, 13%, 13%);
  --dark-grayish-blue: hsl(219, 9%, 45%);
  --grayish-blue: hsl(220, 14%, 75%);
  --light-grayish-blue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --black-opaque: hsla(0, 0%, 0%, 0.8);
}

body {
  font-family: "Kumbh Sans", sans-serif;
  min-height: 100vh;
  font-size: 1.6rem;
  position: relative;
}

/* display styles */
.display-block {
  display: block;
}

.display-none {
  display: none;
}

.display-flex {
  display: flex;
}

.display-grid {
  display: grid;
}

/* buttons */
.change-img-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.change-img-button:hover {
  color: var(--orange);
  width: 50px;
  height: 50px;
}

/* overlay */
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: var(--black-opaque);
  z-index: 10;
  display: none;
}

.overlay__pics-container {
  display: none;
  height: 100vh;
  place-content: center;
}

.overlay__main-pic-container {
  position: relative;
  width: 550px;
  height: 550px;
  background-image: url("./images/image-product-1.jpg");
  background-size: contain;
  border-radius: 20px;
}

.overlay__thumbnails-container {
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-around;
  padding-top: 40px;
}

.overlay__thumbnail {
  height: 90px;
  width: 90px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  outline: 3px solid transparent;
}

.overlay__close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: transparent;
  top: -40px;
  right: 0;
  width: 25px;
  height: 25px;
}

.overlay__close-icon {
  color: white;
  transition: all 0.4s ease-in-out;
  width: 25px;
  height: 25px;
}

.overlay__close-icon:hover {
  color: var(--orange);
}

.overlay__prev-next-buttons-container {
  position: absolute;
  top: 50%;
  right: -5%;
  width: 110%;
  display: flex;
  justify-content: space-between;
}

.container {
  width: 80%;
  max-width: 1120px;
  margin: 0 auto;
  position: relative;
}

/* header */
.header {
  width: 100%;
  padding: 27px 0;
  display: flex;
  gap: 5%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--grayish-blue);
}

/* menu icon */
.header__menu-icon {
  cursor: pointer;
  display: none;
}

.bar1,
.bar2,
.bar3 {
  width: 25px;
  height: 3px;
  background-color: var(--dark-grayish-blue);
  margin: 4px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  transform: translate(0px, 7px) rotate(-45deg);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  transform: translate(0px, -7px) rotate(45deg);
}

/* ==== */
.header__logo {
  height: 20px;
  width: 140px;
}

.header__nav {
  display: flex;
  gap: 4%;
  flex: 2;
}

.nav__link {
  text-decoration: none;
  color: var(--dark-grayish-blue);
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.6rem;
  position: relative;
  transition: all 0.4s ease-in-out;
}

.nav__link:hover {
  color: black;
}

.nav__link::before {
  content: "";
  background-color: var(--orange);
  width: 100%;
  height: 3px;
  position: absolute;
  top: 61px;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

.nav__link:hover::before {
  opacity: 1;
}

.header__purchase-info {
  display: flex;
  gap: 4.5rem;
  align-items: center;
}

/* cart */
.cart-qty-container {
  position: relative;
}

.purchase__cart-button {
  height: 22px;
  width: 24px;
  background-color: white;
  color: var(--dark-grayish-blue);
  transition: all 0.4s ease-in-out;
}

.purchase__cart-button:hover {
  color: var(--orange);
}

.purchase__qty {
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -6px;
  right: -6px;
  background-color: var(--orange);
  color: var(--white);
  width: 18px;
  height: 14px;
  font-size: 1rem;
  border-radius: 0.8rem;
}

/* cart order */
.cart-order__container {
  position: absolute;
  top: 97px;
  right: 60px;
  z-index: 20;
  background-color: white;
  border-radius: 5px;
  width: 360px;
  box-shadow: 0px 9px 45px -6px rgba(143, 143, 143, 1);
}

.cart-order__header {
  padding: 30px 25px;
}

.cart-order__divider {
  height: 1px;
  width: 100%;
  background-color: var(--grayish-blue);
}

.cart-order__details-container {
  padding: 25px 25px 30px 25px;
}

.cart-order__details {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-bottom: 25px;
}

.card-order__details-empty {
  height: 130px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  color: var(--dark-grayish-blue);
}

.cart-order__details-img {
  height: 50px;
  width: 50px;
  border-radius: 5px;
}

.cart-order__details-text {
  color: var(--dark-grayish-blue);
}

.cart-order__details-name {
  padding-bottom: 10px;
}

.cart-order__total-sum {
  color: black;
  font-weight: bold;
}

.cart-order__delete-button {
  width: 15px;
  height: 18px;
  background-color: white;
}

.purchase__avatar-container {
  height: 52px;
  width: 52px;
  border-radius: 50%;
  outline: 2px solid transparent;
  transition: all 0.4s ease-in-out;
}

.purchase__avatar-container:hover {
  outline: 2px solid var(--orange);
}

.purchase__avatar {
  height: 52px;
  width: 52px;
  cursor: pointer;
}

/* product container */
.product-container {
  padding: 8% 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

/* product images */
.product__images-container {
  width: 90%;
  min-width: 420px;
}

.product__main-image-container {
  width: inherit;
  position: relative;
}

.product__image--main {
  width: 100%;
  border-radius: 2rem;
  cursor: pointer;
  transition: transform 0.4s ease-in-out;
}

.product__image--main:hover {
  transform: scale(1.05);
}

.product__thumbnail-images-container {
  margin-top: 6.8%;
  width: 90%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.product__image--thumbnail {
  outline: 3px solid transparent;
  width: 20%;
  border-radius: 1rem;
  transition: all 0.4s ease-in-out;
}

.product__image--thumbnail-selected {
  outline: 3px solid var(--orange);
  opacity: 0.6;
}

.product__image--thumbnail:hover,
.overlay__thumbnail:hover {
  outline: 3px solid var(--orange);
  opacity: 0.9;
  transform: scale(1.05);
}

.product__prev-next-buttons-container {
  display: none;
}

/* product info */
.product__info-container {
  width: 80%;
  padding: 10.5% 0;
}

.product__header {
  font-size: 1.2rem;
  color: var(--orange);
  text-transform: uppercase;
  padding-bottom: 5.5%;
}

.product__subheader {
  font-size: 3.5rem;
  font-weight: 700;
  padding-bottom: 10%;
}

.product__description {
  padding-bottom: 6.5%;
  line-height: 2.5rem;
  color: var(--dark-grayish-blue);
}

.product__price-container {
  display: flex;
  flex-direction: column;
}

.product__price-discount-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.product__price {
  font-size: 2.5rem;
  font-weight: 700;
}

.product__discount {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--orange);
  background-color: var(--pale-orange);
  padding: 0.4em 0.7em;
  border-radius: 0.4em;
  max-width: 50px;
}

.product__price--crossed {
  padding-top: 3.5%;
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--grayish-blue);
  text-decoration: line-through;
}

/* buttons */
.button {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.6rem;
  cursor: pointer;
  border: none;
}

.cart-button {
  background-color: var(--orange);
  color: var(--pale-orange);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 10px 20px 10px var(--pale-orange);
  font-weight: 700;
  transition: all 0.4s ease-in-out;
}

.cart-button:hover {
  opacity: 0.8;
}

.add-to-cart-button {
  flex: 2;
  gap: 1.5rem;
}

.cart-order__checkout-btn {
  width: 100%;
  height: 50px;
}

.product__buttons-container {
  padding-top: 7.6%;
  display: flex;
  gap: 1.5rem;
}

.qty-button__container {
  height: 55px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--light-grayish-blue);
  border-radius: 10px;
}

.qty-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: inherit;
  background-color: inherit;
  border-radius: inherit;
}

.qty-number {
  font-weight: 700;
}

/* footer */
.attribution {
  font-size: 1.1rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 1000px) {
  .container {
    width: 90%;
  }

  .product__info-container {
    padding: 0;
  }

  .product__buttons-container {
    flex-direction: column;
  }

  .add-to-cart-button {
    min-height: 55px;
  }

  .cart-order__container {
    right: 30px;
  }
}

@media (max-width: 900px) {
  .product__subheader {
    font-size: 2.5rem;
  }
}

@media (max-width: 750px) {
  .container {
    position: static;
  }

  .header {
    border: none;
    padding: 5% 0 0 0;
  }

  .header__menu-icon {
    display: block;
    z-index: 30;
  }

  .header__nav {
    display: none;
  }

  .header__nav-mobile--open {
    padding-top: 95px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 70vw;
    background: white;
    gap: 4%;
    z-index: 20;
  }

  .nav__link--mobile {
    color: black;
    font-weight: 700;
    padding-left: 25px;
    width: fit-content;
  }

  .nav__link::before {
    top: 30px;
    left: 14px;
  }

  /* Slide in animation with delay for each nav item */
  .slide-in-collections {
    animation: slide-in 0.3s linear 0.1s both;
  }
  .slide-in-men {
    animation: slide-in 0.3s linear 0.2s both;
  }
  .slide-in-women {
    animation: slide-in 0.3s linear 0.3s both;
  }
  .slide-in-about {
    animation: slide-in 0.3s linear 0.4s both;
  }
  .slide-in-contact {
    animation: slide-in 0.3s linear 0.5s both;
  }

  @keyframes slide-in {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }

  /* product container */
  .product-container {
    grid-template-columns: 1fr;
  }

  .product__images-container {
    width: 100%;
  }

  .product__thumbnail-images-container {
    width: 100%;
  }

  .product__header {
    padding-top: 9%;
  }

  .product__price-container {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (max-width: 620px) {
  .overlay__main-pic-container {
    width: 400px;
    height: 400px;
  }

  .overlay__thumbnail {
    height: 70px;
    width: 70px;
    border-radius: 10px;
    cursor: pointer;
  }
}

@media (max-width: 500px) {
  .header {
    width: 90%;
    margin: 0 auto;
    padding: 5% 0 0 0;
  }

  .product-container {
    padding: 5% 0 20%;
  }

  .product__main-image-container {
    overflow: hidden;
  }

  .product__images-container {
    min-width: unset;
  }

  .product__thumbnail-images-container {
    display: none;
  }

  .product__prev-next-buttons-container {
    padding: 0 15px;
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .container {
    width: 100%;
  }

  .purchase__avatar-container {
    height: 25px;
    width: 25px;
  }

  .purchase__avatar {
    height: 25px;
    width: 25px;
  }

  .cart-order__container {
    left: 50%;
    top: 70px;
    width: 90%;
    transform: translateX(-50%);
  }
}

@media (max-width: 400px) {
  .product__main-image-container {
    max-height: 300px;
    overflow-y: hidden;
  }

  .product__image--main {
    border-radius: 0;
  }

  .header__purchase-info {
    gap: 1.5rem;
  }
}
